# Enron 2.0: Predicting California's Energy Consumption

## Team Members:

**Names:** John W. Muhs, Corbett Carell
<br>**Emails:** <u0761102,u0502104>@utah.edu</br>
<br>**Github Repository:** [JohnWMuhs/2019-datascience-project](https://github.com/JohnWMuhs/2019-datascience-project "2019 Data Science Project Github Repo")</br>

## Project Objectives

In this project, we present a power consumption prediction method for the [California ISO](http://www.caiso.com/Pages/default.aspx) by utilizing hourly CAISO load data from the Energy Information Agency (EIA), weather data from the Darksky API, and potentially some other sources.

<br>**Project Proposal (Submitted Mar. 1st):** The project was introduced via a project proposal available on Google Docs [here](https://docs.google.com/document/d/1i6FB5gmumkx5CnaKLHzKJk8nae0PirpgJDDWm3NkkZ4/edit?usp=sharing "Project Proposal").</br>

## Data Sources
<br>**Energy Data:** [U.S. Electric System Operating Data](https://www.eia.gov/opendata/qb.php?category=2123635 "EIA API: Electric System Operating Data")</br>
<br>**Weather Data:** [Darksky API](https://darksky.net/dev "Darksky API")</br>

## Project Timeline

\<img src="images/ProjectFlowChart_Proposal.png">

# Section 1: Data Import

## Energy Data Import

This section includes the code required to import power consumption from the CAISO Balancing Authority (BA) and the entire California region. The California region contains a number of BAs (the largest of which by far is CAISO), however, we decided to import both BA and region data for comparison.

In [79]:
import pandas as pd
import matplotlib as plt
import json
import requests

The code below allows a user to quickly copy/paste a link from the EIA API website, and provide a title for it in the urls dictionary. The code takes that url and creates a unified dataframe. Therefore, it is incredibly easy to add additional EIA data in the future.

In [69]:
# Import EIA API Key 
EIA_api_key = '53e6a63887dc05efe150165fa890f8da'

# Create Dictionary of urls from which we want to pull the EIA API
urls = {'CAISO_HourlyLoad':'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=EBA.CISO-ALL.D.H',
        'California_HourlyLoad':'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=EBA.CAL-ALL.D.H'}

In [70]:
# Initialize a dataframe
df = pd.DataFrame()

# Setup dummy variable to ensure that a datetime is only generated once
i = 0

for key in urls:
    
    # API pull
    EIAData = requests.get(urls[key])
    
    # Decode from utf-8
    EIAData = EIAData.content.decode("utf-8")
    
    # Load API pull as a dict
    EIAdict = json.loads(EIAData)
    
    # Access the data in EIAdict
    dfEIA = pd.DataFrame.from_dict(EIAdict['series'])
    dfEIA = dfEIA['data'][0]
    
    # Convert clean data to a datafrmae
    dfEIA = pd.DataFrame(dfEIA)
    #print(dfEIA[0])
    
    # Find the datetime
    while i != 1:
        df['DateTime'] = pd.to_datetime(dfEIA[0],format='%Y%m%dT%H', errors='ignore')
        df['DateTime'] = df['DateTime'].dt.tz_convert('US/Pacific')
        i += 1
    
    # Create a new column for each type of data (url) pulled from API
    df[str(key)] = dfEIA[1]
    
# Set DateTime as index of the dataframe (tz-aware)
df.index = df['DateTime']

We decided to complete the project in a daily time resolution. This was done mainly to reduce the dataset to a reasonable size. If we kept the dataset at an hourly time resolution, we would have over 32,000 data points! However converting the data down to a daily time resolution provided a very nicely-sized 1362 data points from which to analyze.

In [80]:
# Resample hourly data to daily data (merged via a sum since units are MWh)
df = df.resample('D').sum()

                           CAISO_HourlyLoad  California_HourlyLoad
DateTime
2015-07-01 00:00:00-07:00          759794.0                 940489
2015-07-02 00:00:00-07:00          780410.0                 962751
2015-07-03 00:00:00-07:00          719208.0                 887079
2015-07-04 00:00:00-07:00          678520.0                 830874
2015-07-05 00:00:00-07:00          649346.0                 791310

In [74]:
df.tail()

                           CAISO_HourlyLoad  California_HourlyLoad
DateTime
2019-03-22 00:00:00-07:00          478641.0                 601060
2019-03-23 00:00:00-07:00          440254.0                 554363
2019-03-24 00:00:00-07:00          431480.0                 542184
2019-03-25 00:00:00-07:00          495731.0                 617873
2019-03-26 00:00:00-07:00          314665.0                 392278

In [6]:
#df.to_csv('energydata.csv')

## Weather Data (DarkSky API)

The weather data was pulled in using the DarkSky API. The Darksky API requires inputs of latitude, longitude, and datetime to pull corresponding weather data. Darksky API does not seem to allow pulls over a date range, so for this reason, the code to pull over the entire date range required over 6,000 pulls from the API. So as not to do this every time we run the code, a separate code has been developed and included in the repository that demonstrates how DarkSky data was accessed. The code to pull the weather data can be found in "darksky-api.ipynb".

Weather data was pulled from July 1st, 2015 (constraint from EIA hourly data) to December 31st, 2018. All attributes from the DarkSky API pull have been included in the csv, so all filtering and processing will be included in this notebook.

In [75]:
# Pull weather data from static csv
dfWeather = pd.read_csv('darksky_data.csv')

#Set dummy variable
i=0

In [76]:
# To avoid renaming multiple times and pulling an error (we could include a try except here.)
while i != 1:
    #Take the date time (originally included as a string), and format it into a pd datetime
    dfWeather['DateTime'] = pd.to_datetime(dfWeather['time'],format='%m-%d-%Y', errors='ignore')
    
    # Set Datetime as index of the dataframe
    dfWeather.index = dfWeather['DateTime']
    
    # Drop extraneous columns
    dfWeather = dfWeather.drop(['time','DateTime'],axis=1)
    
    # Set TZ to US-Pacific (both dataframes are tz-aware)
    dfWeather = dfWeather.tz_localize('US/Pacific', level=0)
    i += 1

# Display Weather Dataframe head
dfWeather.head()

,apparentTemperatureHigh,apparentTemperatureLow,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,moonPhase,precipIntensity,precipIntensityMax,...,sunsetTime,temperatureHigh,temperatureLow,temperatureMax,temperatureMin,uvIndex,visibility,windBearing,windGust,windSpeed
DateTime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00-08:00,53.216,38.102,53.216,34.786,0.176,24.940,0.522,0.74,0.00000,0.00000,...,1.451696e+09,53.556,38.970,53.556,35.800,2.4,7.656,281.2,9.988,1.550
2017-01-01 00:00:00-08:00,52.314,41.958,52.314,40.050,0.708,38.928,0.768,0.11,0.00052,0.00690,...,1.483319e+09,52.434,42.922,52.434,40.768,2.4,8.472,201.2,9.872,2.086
2018-01-01 00:00:00-08:00,66.468,45.264,66.468,42.550,0.308,40.228,0.646,0.49,0.00000,0.00000,...,1.514855e+09,66.468,45.264,66.468,42.550,2.2,5.492,231.0,6.328,0.530
2016-01-02 00:00:00-08:00,53.704,41.892,53.704,38.374,0.344,30.504,0.566,0.77,0.00000,0.00000,...,1.451783e+09,53.704,41.892,53.704,39.242,2.2,7.672,192.0,8.638,1.086
2017-01-02 00:00:00-08:00,49.548,42.752,49.548,41.964,0.752,39.374,0.770,0.15,0.00128,0.00656,...,1.483405e+09,50.060,43.674,50.060,42.928,2.0,8.842,137.2,8.446,1.894

In [77]:
# Merge EIA and Weather dataframes. Inner only keeps the dates from the dfWeather dataframe. 
dfX = pd.merge(df,dfWeather, how='inner', left_index=True, right_index=True)

# Display head of merged dataframe
dfX.head()

,CAISO_HourlyLoad,California_HourlyLoad,apparentTemperatureHigh,apparentTemperatureLow,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,moonPhase,...,sunsetTime,temperatureHigh,temperatureLow,temperatureMax,temperatureMin,uvIndex,visibility,windBearing,windGust,windSpeed
DateTime,,,,,,,,,,,,,,,,,,,,,
2015-07-01 00:00:00-07:00,759794.0,940489,99.140,76.572,99.140,76.392,0.238,56.696,0.410,0.48,...,1.435807e+09,98.330,76.348,98.330,76.208,9.2,8.448,191.6,13.926,1.194
2015-07-02 00:00:00-07:00,780410.0,962751,96.232,72.284,96.232,76.174,0.218,57.536,0.436,0.53,...,1.435894e+09,95.878,72.218,95.878,76.042,9.8,8.400,247.4,11.836,1.942
2015-07-03 00:00:00-07:00,719208.0,887079,96.158,71.094,96.158,72.284,0.164,56.390,0.440,0.56,...,1.435980e+09,96.008,71.048,96.008,72.218,10.4,8.950,254.4,11.072,2.232
2015-07-04 00:00:00-07:00,678520.0,830874,97.320,70.610,97.320,70.966,0.164,57.920,0.462,0.60,...,1.436067e+09,96.990,70.604,96.990,70.954,10.2,9.020,249.2,12.004,2.380
2015-07-05 00:00:00-07:00,649346.0,791310,92.228,67.738,92.228,70.610,0.206,57.404,0.488,0.63,...,1.436153e+09,92.198,67.726,92.198,70.604,9.8,9.014,247.4,12.474,3.148

In [78]:
dfX.tail()

,CAISO_HourlyLoad,California_HourlyLoad,apparentTemperatureHigh,apparentTemperatureLow,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,moonPhase,...,sunsetTime,temperatureHigh,temperatureLow,temperatureMax,temperatureMin,uvIndex,visibility,windBearing,windGust,windSpeed
DateTime,,,,,,,,,,,,,,,,,,,,,
2018-12-27 00:00:00-08:00,568510.0,695516,54.760,37.036,54.760,40.150,0.258,36.222,0.686,0.69,...,1.545958e+09,54.760,39.232,54.760,40.830,2.2,8.722,252.6,12.576,2.584
2018-12-28 00:00:00-08:00,575269.0,704328,55.110,37.364,55.110,37.036,0.080,28.402,0.538,0.73,...,1.546045e+09,55.110,38.038,55.110,39.232,2.4,8.966,235.6,12.090,3.152
2018-12-29 00:00:00-08:00,550224.0,674228,57.312,37.780,57.312,37.364,0.006,29.662,0.556,0.76,...,1.546131e+09,57.312,37.780,57.312,37.846,2.4,9.358,129.4,8.502,1.234
2018-12-30 00:00:00-08:00,534610.0,655162,57.382,40.524,57.382,37.780,0.042,33.764,0.638,0.80,...,1.546218e+09,57.382,41.732,57.382,37.780,2.4,8.764,130.4,8.358,0.668
2018-12-31 00:00:00-08:00,559409.0,685876,53.016,35.514,53.016,38.520,0.374,31.946,0.598,0.83,...,1.546304e+09,53.032,38.312,53.032,40.622,2.0,8.544,207.8,16.686,3.664